* {
  margin: 0px;
  padding: 0px;
}
.mainNavbar {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.introduction {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.companyName {
  color: #223046;
  font-size: 20px;
  font-weight: bolder;
}
.quickSubscribeAndShop {
  width: 250px;
  display: flex;
  justify-content: space-between;
}
.subscriptionPrompt {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe {
  font-size: 10px;
  font-weight: bold;
  color: #6a95fd;
}
.arrowlogo {
  width: 15px;
  height: 10px;
}
.multiUsageButton {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 8px;
  font-weight: bold;
  background-color: #eb0089;
  border-color: #eb0089;
  color: white;
}
.mainAdvertisementSection {
  position: relative;
  display: flex;
  justify-content: center;
}
.twobrushesImage {
  width: 100%;
  height: 400px;
}
.promotionSection {
  position: absolute;
  top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dentistRecommendedLogo {
  height: 70px;
}
.qualityClaimPart1 {
  margin-top: 20px;
  font-size: 45px;
  font-weight: bolder;
}
.qualityClaimPart2 {
  text-align: center;
  font-size: 20px;
}
.secondButton {
  margin-top: 20px;
  width: 120px;
  background-color: #487cfe;
  border-color: #487cfe;
}
.accoladesSection0 {
  background-color: #487cfe;
  height: 70px;
}
.accoladesSection {
  width: 70%;
}
.accoladePart1 {
  color: white;
}
.accoladePart2 {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
.productFeatures {
  position: relative;
}
.whyToBuy {
  position: absolute;
  left: 100px;
  bottom: 50px;
}
.reasonToBuy {
  font-weight: bolder;
  margin-bottom: 20px;
}
.pipeImage {
  height: 50px;
  margin-left: 10px;
}
.featureDescriptionAndTickImage {
  margin-left: 10px;
  display: flex;
}
.featureDescription {
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}
.feature1 {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  position: absolute;
  top: 100px;
  left: 50px;
}
.feature2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  position: absolute;
  top: 200px;
  left: 400px;
}
.feature3 {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  position: absolute;
  top: 300px;
  left: 650px;
}
.feature4 {
  display: flex;
  position: absolute;
  top: 10px;
  left: 550px;
}
.feature5 {
  display: flex;
  position: absolute;
  top: 50px;
  right: 50px;
}
.productTechnicals {
  background-color: #f7f7f7;
  padding: 30px 0px;
}
.productTechnicalsInDetailPart1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.productTechnicalsInDetailPart2 {
  text-align: center;
  margin-top: 20px;
}
.businessModel0 {
  height: 250px;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
}
.businessModel {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
.businessModelWorking {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.businessModelTitle {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.modelAdvantage {
  text-align: center;
  margin-top: 10px;
}
.productReviewWithProductImage0 {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
}
.productReviewWithProductImage {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.productReview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productReviewTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.productReviewDetails {
  text-align: center;
  margin-bottom: 18px;
}
.productReviewer {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
}
.thanSymbols {
  display: flex;
  align-items: center;
}
.philanthropyWithExampleImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.classRoomImage {
  width: 100%;
  height: 400px;
}
.philanthropy {
  background-color: white;
  padding: 40px;
  position: absolute;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.philanthropyTitle {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.philanthropyDetails {
  text-align: center;
}
.hashTag {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hashTagID {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.hashTagDescription {
  margin-top: 10px;
  text-align: center;
}
.variousUsers0 {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
.variousUsers {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.userType {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}
.tagLIneWithEmoji0 {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c4f66;
}
.tagLIneWithEmoji {
  width: 360px;
  display: flex;
  justify-content: space-between;
}
.freshGuaranteeLogo {
  height: 50px;
  width: 60px;
}
.tagLine {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.refundPolicy {
  height: 150px;
  color: white;
  background-color: #3c4f66;
  text-align: center;
}
.thirdButton {
  margin-top: 20px;
  background-color: white;
  color: black;
  font-weight: bolder;
}
.concludingSection0 {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.concludingSection {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.logoGoby {
  width: 60px;
  display: flex;
  justify-content: space-between;
}
.gobyText {
  font-weight: bold;
}
.termsPolicy {
  font-size: 15px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1160px) {
  .qualityClaimPart1 {
    font-size: 35px;
  }
  .qualityClaimPart2 {
    font-size: 15px;
  }
  .feature4 {
    left: 450px;
  }
}

@media screen and (max-width: 1100px) {
  .variousUsers {
    width: 80%;
  }
  .businessModel {
    width: 80%;
  }
  .productReviewWithProductImage {
    width: 80%;
  }
  .accoladesSection {
    width: 80%;
  }
  .philanthropy {
    padding: 20px;
  }
}

@media screen and (max-width: 930px) {
  .qualityClaimPart1 {
    font-size: 30px;
  }
  .qualityClaimPart2 {
    font-size: 13px;
  }
  .feature1 {
    left: 10px;
  }
  .feature4 {
    left: 300px;
  }
  .feature3 {
    left: 0px;
    right: 50px;
  }
  .variousUsers {
    flex-wrap: wrap;
  }
  .userType {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 830px) {
  .qualityClaimPart1 {
    font-size: 20px;
  }
  .qualityClaimPart2 {
    font-size: 10px;
  }
  .featureDescription {
    font-size: 12px;
  }
  .feature2 {
    left: 320px;
  }
}

@media screen and (max-width: 760px) {
  .variousUsers {
    width: 90%;
  }
  .businessModel {
    width: 90%;
  }
  .productReviewWithProductImage {
    width: 90%;
  }
  .accoladesSection {
    width: 90%;
  }
  .concludingSection {
    width: 90%;
    align-items: center;
  }
  .introduction {
    width: 90%;
  }
}

@media screen and (max-width: 570px) {
  .qualityClaimPart1 {
    font-size: 15px;
  }
  .qualityClaimPart2 {
    font-size: 8px;
  }
  .accoladesSection0 {
    height: 120px;
  }
  .accoladesSection {
    flex-wrap: wrap;
  }
  .accoladePart1 {
    margin-top: 10px;
  }
  .accoladePart2 {
    margin-bottom: 10px;
  }
  .feature1 {
    left: 10px;
    top: 150px;
  }
  .feature2 {
    left: 150px;
  }
  .feature4 {
    left: 100px;
  }
  .feature3 {
    left: 0px;
    right: 50px;
    top: 255px;
  }
  .feature5 {
    right: 10px;
  }
  .whyToBuy {
    left: 10px;
    bottom: 10px;
  }
  .reasonToBuy {
    margin-bottom: 5px;
  }
  .businessModel0 {
    height: 350px;
  }
  .businessModel {
    flex-wrap: wrap;
  }
  .productReviewWithProductImage0 {
    padding-bottom: 20px;
  }
  .productReviewWithProductImage {
    flex-wrap: wrap;
    justify-content: center;
  }
  .productReview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .thanSymbols {
    display: none;
  }
  .productReviewTitle {
    font-size: 30px;
  }
  .productReviewDetails {
    font-size: 20px;
  }
  .philanthropy {
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .quickSubscribeAndShop {
    width: 220px;
    display: flex;
    justify-content: space-between;
  }
  .qualityClaimPart1 {
    font-size: 12px;
  }
  .qualityClaimPart2 {
    font-size: 10px;
  }
  .productTechnicalsInDetailPart1 {
    font-size: 15px;
  }
  .productTechnicalsInDetailPart2 {
    font-size: 12px;
  }
  .philanthropyWithExampleImage {
    flex-direction: column;
  }
  .philanthropy {
    width: 250px;
    padding: 30px;
    position: static;
    height: 350px;
    flex-direction: column;
  }
  .philanthropyTitle {
    font-size: 20px;
  }
  .philanthropyDetails {
    font-size: 18px;
  }
  .flashFoodImage {
    width: 250px;
  }
  .variousUsers {
    justify-content: center;
  }
  .refundPolicy {
    font-size: 13px;
  }
  .gobyText {
    font-size: 15px;
  }
  .termsPolicy {
    font-size: 15px;
    width: 190px;
    display: flex;
    justify-content: space-between;
  }
  .terms {
    font-size: 10px;
  }
  .policy {
    font-size: 10px;
  }
}

@media screen and (max-width: 366px) {
  .accoladesSection0 {
    height: 180px;
  }
  .accoladesSection {
    justify-content: center;
  }
}
